<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag 'logo-odila-big.png' %>
      </div>
    </div>
  </div>
</header><section id="Quienes" class="success">
  <div class="container"><div class="row principal">
      <div class="col-lg-12">
        <h2>Qué es ODILA?</h2>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p><strong>ODILA</strong> nace a partir de la necesidad de dar a 
        conocer el problema de la cifra negra de los delitos informáticos, 
        buscando informar a la sociedad sobre la legislación vigente en la 
        materia y fomentando la realización de denuncias formales ante los 
        organismos competentes.</p>
      </div>
      <div class="col-lg-12">
        <h2>Cómo funciona?</h2>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p>El usuario puede reportar el incidente sufrido a través de un 
        sencillo formulario y de forma totalmente anónima. Los datos son  
        procesados por <strong>ODILA</strong> y se informa el resultado de la 
        legislación aplicable en su país y la información sobre los organismos 
        competentes oficiales, donde la víctima podrá realizar su denuncia 
        formal para que dicho hecho sea investigado por las autoridades 
        correspondientes. Además, el usuario recibirá  recomendaciones básicas a
        tener en cuenta en todo incidente informático, con el objeto de no 
        perjudicar las tareas de investigación y recolección de evidencia 
        digital.</p>
        <p><strong>ODILA no pretende ser un asesoramiento para el usuario</strong>, y en todo momento se recomienda la consulta ante un profesional especializado en la materia. <strong>ODILA</strong>
        sólo pretende ser una guía para orientar al usuario (víctima), brindar 
        información sobre la materia y fomentar la realización de denuncias. En 
        relación a los datos estadísticos recolectados, la propuesta es publicar
        los mismos de forma anual, dependiendo de la cantidad de reportes 
        recibidos.</p>
      </div></div><div class="col-lg-12">
        <h2>Equipo de Trabajo</h2>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p><strong>ODILA (Observatorio de Delitos Informáticos de Latinoamérica)</strong>, es llevado adelante por <a href="http://www.segu-info.com.ar/" target="_blank">Segu-Info</a> y <a href="http://www.asegurarte.com.ar/" target="_blank">AsegurarTe</a>,
        a través del Lic. Cristian Borghello (Segu-Info), el Abog. Marcelo 
        Temperini (AsegurarTe) y el AIA Maximiliano Macedo (AsegurarTe).</p>
      </div>
  </div>
  <div class="row">
    <div id="col-quienes-contenedor">
      <section id="col-quienes">
        <article> <a href="http://twitter.com/SeguInfo/">
            <%= image_tag 'cb.jpg', size: '116x174' %>
          </a>
          <h4><a href="http://twitter.com/seguinfo/">Cristian Borghello</a></h4>
          <p>Licenciado en Sistemas, desarrollador, Certified Information 
          Systems Security Professional (CISSP), CCSK (Certificate of Cloud 
          Security Knowledge) y Microsoft MVP Security (Most Valuable 
          Professional).<br>
          Actualmente es Director de <a href="http://www.segu-info.com.ar/" target="_blank">Segu-Info</a> y <a href="http://www.segu-kids.org/" target="_blank">Segu-Kids</a> y se desempeña como consultor independiente en Seguridad de la Información.</p>
        </article>
        <article><a href="http://twitter.com/Ydea2/">
            <%= image_tag 'mm.jpg', size: '116x174' %>
          </a>
          <h4><a href="http://twitter.com/Ydea2/">Maximiliano Macedo</a></h4>
          <p>Analista en Informática Aplicada (FICH UNL), socio fundador de <a href="http://www.asegurarte.com.ar/" target="_blank">AsegurarTe</a> - Consultora en Seguridad de la Información.<br>
          Participa activamente en diversos congresos y proyectos destacándose entre ellos: <a href="http://www.asegurarte.com.ar/concienciadigital" target="_blank">Conciencia Digital</a> y <a href="http://www.botondepanicoast.com.ar/" target="_blank">Botón de Pánico AsT</a>.<br>
          Actualmente trabaja como consultor en materia de Seguridad Informática.</p>
        </article>
        <article> <a href="http://twitter.com/mgitemperini/">
            <%= image_tag 'mt.jpg', size: '116x174' %>
          </a>
          <h4><a href="http://twitter.com/mgitemperini/">Marcelo Temperini</a></h4>
          <p>Abogado especializado en Derecho Informático. Es Socio Fundador de <a href="http://www.asegurarte.com.ar/" target="_blank">AsegurarTe</a>. Además es Técnico Analista de Seguridad y Vulnerabilidad de Redes de Información de Cisco.<br><br>
          Actualmente es Doctorando de CONICET dedicado a la investigación
          de Delitos Informáticos y Cibercrimen en el Centro de Investigación de 
          la UNL.</p>
        </article>
      </section>
    </div>
  </div>
</section><section id="Denuncia">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Denunciar delitos informáticos</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Usted puede optar por realizar la denuncia de forma <strong>totalmente anónima</strong>,
        o bien, dejar algún dato para un eventual contacto. La información 
        brindada sólo será utilizada con fines académicos y estadísticos.</p><p></p>
        <hr>
      </div>
    </div>
    <div id="waiting" style="display: none;">&nbsp;</div>
    <%= render 'denuncias/form' %>
  </div>
</section><section id="Contacto" class="contact">
  <div class="container">
    <div class="row principal">
      <div class="col-lg-12 text-center">
        <h2>CONTÁCTESE CON NOSOTROS</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div id="waitcontact" style="display: none;">&nbsp;</div>
    <div class="row principal">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="z_form_contacto">
          <form role="form" action="" method="post" id="fContacto">
            <input name="key_contacto" value="7627bb427bcae0852500a40de598de05" type="hidden">
            <div class="row">
              <div class="form-group col-xs-12 floating-label-form-group">
                <label for="apenom">Nombre y Apellido</label>
                <input class="form-control" name="apenom" placeholder="Nombre y apellido" type="text">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12 floating-label-form-group">
                <label for="email">E-mail</label>
                <input class="form-control" name="email" placeholder="E-mail" type="email">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12 floating-label-form-group">
                <label for="texto">Mensaje</label>
                <textarea placeholder="Consulta" name="texto" class="form-control" rows="5"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-xs-12">
                <input name="Enviar" value="Enviar" id="enviarcontacto" class="btn btn-warning" type="button">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
