# encoding: windows-1252
<!-- <!DOCTYPE html> -->
<!--  -->
<!--     <title>ODILA &#45; Denunciar Delitos Informáticos en Latinoamérica</title> -->
<!--  -->
<!--     <!&#45;&#45; Favicon &#45;&#45;> -->
<!--     <script async="" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/analytics.js"></script><script type="text/javascript" async="" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/ga.js"></script><script src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/jquery_002.js"></script><script src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/jquery&#45;ui.js"></script><link href="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/jquery&#45;ui.css" rel="stylesheet" type="text/css"><script async="" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/cloudflare.js"></script><script type="text/javascript"> -->
<!-- //<![CDATA[ -->
<!-- try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn&#45;cgi/nexp/dok3v=1613a3a185/"},atok:"eac28b320a39aae89d47f69e2fd7ded1",petok:"113a3d5fa1e95985fc9b87f133d2668d52e572cc&#45;1491312173&#45;1800",zone:"odila.org",rocket:"0",apps:{"ga_key":{"ua":"UA&#45;55073911&#45;1","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn&#45;cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){}; -->
<!-- //]]> -->
<!--     </script> -->
<!--  -->
<!--     <!&#45;&#45; Bootstrap &#45;&#45;> -->
<!--     <link href="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/bootstrap.css" rel="stylesheet"> -->
<!--     <link href="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/custom.css" rel="stylesheet"> -->
<!--  -->
<!--     <!&#45;&#45; HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries &#45;&#45;> -->
<!--     <!&#45;&#45;[if lt IE 9]> -->
<!--       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script> -->
<!--       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script> -->
<!--     <![endif]&#45;&#45;> -->
<!--  -->
<!--     <!&#45;&#45; jQuery &#45;&#45;> -->
<!--     <script type="text/javascript" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/jquery_002.js"></script><style type="text/css">.cf&#45;hidden { display: none; } .cf&#45;invisible { visibility: hidden; }</style> -->
<!--     <!&#45;&#45; Include all compiled plugins (below), or include individual files as needed &#45;&#45;> -->
<!--     <script type="text/javascript" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/bootstrap.js"></script> -->
<!--  -->
<!--     <!&#45;&#45; Agrega Datepicker &#45;&#45;> -->
<!--     <script type="text/javascript" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/modernizr.js"></script> -->
<!--  -->
<!--     <!&#45;&#45; CSS Global &#45;&#45;> -->
<!--     <link href="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/style.css" rel="stylesheet" type="text/css" title="estiloGlobal"> -->
<!--  -->
<!--     <!&#45;&#45; Fonts &#45;&#45;> -->
<!--     <link href="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/font&#45;awesome.css" rel="stylesheet" type="text/css"> -->
<!--  -->
<!--     <link href="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/montserrat2.css" rel="stylesheet" type="text/css"> -->
<!--  -->
<!--     <!&#45;&#45; Javascripts &#45;&#45;> -->
<!--     <script type="text/javascript" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/jquery.js"></script> -->
<!--     <script type="text/javascript" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/jquery_003.js"></script> -->
<!--     <script type="text/javascript" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/classie.js"></script> -->
<!--     <script type="text/javascript" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/cbpAnimatedHeader.js"></script> -->
<!--     <script type="text/javascript" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/page&#45;scroll.js"></script> -->
<!--     <script type="text/javascript" src="ODILA%20&#45;%20Denunciar%20Delitos%20Inform%C3%A1ticos%20en%20Latinoam%C3%A9rica_files/form.js"></script> -->
<!--  -->
<!--  -->
<!--   </head> -->
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header  page-scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button><a class="navbar-brand" href="#page-top">
      <%= image_tag 'logo-odila.png' %>
    </a></div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll"><a href="#Quienes">Quienes Somos</a></li><li class="page-scroll"><a href="#Denuncia">Denunciar</a></li><li class="page-scroll"><a href="http://odila.org/glosario">Glosario</a></li><li class="page-scroll"><a href="http://odila.org/difusion">Difusión</a></li><li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <b class="caret"></b></a>
          <ul class="dropdown-menu"><li class="page-scroll"><a href="http://odila.org/reporte-2015">Reporte 2015</a></li><li class="page-scroll"><a href="http://odila.org/reporte">Reporte 2016</a></li></ul>
        </li><li class="page-scroll"><a href="#Contacto">Contacto</a></li>
      </ul>       </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav> <header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag 'logo-odila-big.png' %>
      </div>
    </div>
  </div>
</header><section id="Quienes" class="success">
  <div class="container"><div class="row principal">
      <div class="col-lg-12">
        <h2>Qué es ODILA?</h2>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p><strong>ODILA</strong> nace a partir de la necesidad de dar a 
        conocer el problema de la cifra negra de los delitos informáticos, 
        buscando informar a la sociedad sobre la legislación vigente en la 
        materia y fomentando la realización de denuncias formales ante los 
        organismos competentes.</p>
      </div>
      <div class="col-lg-12">
        <h2>Cómo funciona?</h2>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p>El usuario puede reportar el incidente sufrido a través de un 
        sencillo formulario y de forma totalmente anónima. Los datos son  
        procesados por <strong>ODILA</strong> y se informa el resultado de la 
        legislación aplicable en su país y la información sobre los organismos 
        competentes oficiales, donde la víctima podrá realizar su denuncia 
        formal para que dicho hecho sea investigado por las autoridades 
        correspondientes. Además, el usuario recibirá  recomendaciones básicas a
        tener en cuenta en todo incidente informático, con el objeto de no 
        perjudicar las tareas de investigación y recolección de evidencia 
        digital.</p>
        <p><strong>ODILA no pretende ser un asesoramiento para el usuario</strong>, y en todo momento se recomienda la consulta ante un profesional especializado en la materia. <strong>ODILA</strong>
        sólo pretende ser una guía para orientar al usuario (víctima), brindar 
        información sobre la materia y fomentar la realización de denuncias. En 
        relación a los datos estadísticos recolectados, la propuesta es publicar
        los mismos de forma anual, dependiendo de la cantidad de reportes 
        recibidos.</p>
      </div></div><div class="col-lg-12">
        <h2>Equipo de Trabajo</h2>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p><strong>ODILA (Observatorio de Delitos Informáticos de Latinoamérica)</strong>, es llevado adelante por <a href="http://www.segu-info.com.ar/" target="_blank">Segu-Info</a> y <a href="http://www.asegurarte.com.ar/" target="_blank">AsegurarTe</a>,
        a través del Lic. Cristian Borghello (Segu-Info), el Abog. Marcelo 
        Temperini (AsegurarTe) y el AIA Maximiliano Macedo (AsegurarTe).</p>
      </div>
  </div>
  <div class="row">
    <div id="col-quienes-contenedor">
      <section id="col-quienes">
        <article> <a href="http://twitter.com/SeguInfo/">
            <%= image_tag 'cb.jpg', size: '116x174' %>
          </a>
          <h4><a href="http://twitter.com/seguinfo/">Cristian Borghello</a></h4>
          <p>Licenciado en Sistemas, desarrollador, Certified Information 
          Systems Security Professional (CISSP), CCSK (Certificate of Cloud 
          Security Knowledge) y Microsoft MVP Security (Most Valuable 
          Professional).<br>
          Actualmente es Director de <a href="http://www.segu-info.com.ar/" target="_blank">Segu-Info</a> y <a href="http://www.segu-kids.org/" target="_blank">Segu-Kids</a> y se desempeña como consultor independiente en Seguridad de la Información.</p>
        </article>
        <article><a href="http://twitter.com/Ydea2/">
            <%= image_tag 'mm.jpg', size: '116x174' %>
          </a>
          <h4><a href="http://twitter.com/Ydea2/">Maximiliano Macedo</a></h4>
          <p>Analista en Informática Aplicada (FICH UNL), socio fundador de <a href="http://www.asegurarte.com.ar/" target="_blank">AsegurarTe</a> - Consultora en Seguridad de la Información.<br>
          Participa activamente en diversos congresos y proyectos destacándose entre ellos: <a href="http://www.asegurarte.com.ar/concienciadigital" target="_blank">Conciencia Digital</a> y <a href="http://www.botondepanicoast.com.ar/" target="_blank">Botón de Pánico AsT</a>.<br>
          Actualmente trabaja como consultor en materia de Seguridad Informática.</p>
        </article>
        <article> <a href="http://twitter.com/mgitemperini/">
            <%= image_tag 'mt.jpg', size: '116x174' %>
          </a>
          <h4><a href="http://twitter.com/mgitemperini/">Marcelo Temperini</a></h4>
          <p>Abogado especializado en Derecho Informático. Es Socio Fundador de <a href="http://www.asegurarte.com.ar/" target="_blank">AsegurarTe</a>. Además es Técnico Analista de Seguridad y Vulnerabilidad de Redes de Información de Cisco.<br><br>
          Actualmente es Doctorando de CONICET dedicado a la investigación
          de Delitos Informáticos y Cibercrimen en el Centro de Investigación de 
          la UNL.</p>
        </article>
      </section>
    </div>
  </div>
</section><section id="Denuncia">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Denunciar delitos informáticos</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Usted puede optar por realizar la denuncia de forma <strong>totalmente anónima</strong>,
        o bien, dejar algún dato para un eventual contacto. La información 
        brindada sólo será utilizada con fines académicos y estadísticos.</p><p></p>
        <hr>
      </div>
    </div>
    <div id="waiting" style="display: none;">&nbsp;</div>
    <div class="row">
      <div class="col-lg-12">
        <div id="zonaForm"><form id="Fencuesta" action="" class="form-horizontal" method="post" role="form">
            <input name="key" value="faffbef4f0469b64094a1a6503c40404" type="hidden">
            <input name="encuesta" value="1" type="hidden"><fieldset>
              <legend>1- ¿Cuál es su país de residencia?</legend>
              <p>Esta información es útil para poder 
              determinar si el incidente es considerado un delito informático en el 
              país donde usted se encuentra. Sólo para Latinoamérica</p><span class="obliga">* Esta pregunta es obligatoria. </span><br>   <div class="col-lg-4">
                <select id="input_4" name="input_4" class="selectpicker show-tick form-control" data-live-search="true" required=""><option value="0" selected="selected">&nbsp;</option>   <option value="23">
                  Argentina
                  </option>   <option value="24">
                  Bolivia
                  </option>   <option value="25">
                  Brasil
                  </option>   <option value="26">
                  Chile
                  </option>   <option value="27">
                  Colombia
                  </option>   <option value="28">
                  Costa Rica
                  </option>   <option value="29">
                  Cuba
                  </option>   <option value="30">
                  Ecuador
                  </option>   <option value="31">
                  El Salvador
                  </option>   <option value="32">
                  Guatemala
                  </option>   <option value="33">
                  Haití
                  </option>   <option value="34">
                  Honduras
                  </option>   <option value="35">
                  México
                  </option>   <option value="36">
                  Nicaragua
                  </option>   <option value="37">
                  Panamá
                  </option>   <option value="38">
                  Paraguay
                  </option>   <option value="39">
                  Perú
                  </option>   <option value="40">
                  Puerto Rico
                  </option>   <option value="41">
                  República Dominicana
                  </option>   <option value="42">
                  Uruguay
                  </option>   <option value="62">
                  Venezuela
                  </option>       </select>
              </div>
            </fieldset><fieldset>
              <legend>2- La víctima de un delito informático ha sido...</legend>
              <p>Esta información es opcional, pero si usted 
              colabora nos ayudará a comprender cuáles son los sectores sociales más 
              atacados por los ciberdelincuentes.</p>    <div class="form-group">   <label class="radio" for="input_10-0">
                  <input name="input_10[]" id="input_10-0" value="53" type="radio">
                  Persona física
                </label>   <label class="radio" for="input_10-1">
                  <input name="input_10[]" id="input_10-1" value="54" type="radio">
                  Empresa pequeña o mediana (PyME)
                </label>   <label class="radio" for="input_10-2">
                  <input name="input_10[]" id="input_10-2" value="55" type="radio">
                  Gran empresa (más de 100 empleados)
                </label>   <label class="radio" for="input_10-3">
                  <input name="input_10[]" id="input_10-3" value="61" type="radio">
                  Organismo gubernamental
                </label>   </div>
            </fieldset><fieldset>
              <legend>3- ¿Qué tipo de incidente ha sufrido?</legend>
              <p>De acuerdo a su lugar de residencia, dicho 
              incidente podrá ser considerado como un delito informático de acuerdo a 
              su legislación vigente. Si usted lo desea, una vez finalizado el 
              reporte, se le enviará un mail informando sobre la legislación existente
              en su país de residencia.</p><span class="obliga">* Esta pregunta es obligatoria. </span><br>    <div class="form-group">   <label class="radio" for="input_1-0">
                  <input name="input_1[]" id="input_1-0" value="1" required="" type="radio">
                  Hacking: alguien accedió sin mi consentimiento a mis cuentas o sistemas
                </label>   <label class="radio" for="input_1-1">
                  <input name="input_1[]" id="input_1-1" value="2" required="" type="radio">
                  Cracking: alguien ha modificado, 
                  alterado o eliminado todo o parte de mis datos o sistemas informáticos
                </label>   <label class="radio" for="input_1-2">
                  <input name="input_1[]" id="input_1-2" value="4" required="" type="radio">
                  Fraude o Estafa Informática: alguien
                  ha realizado alguna manipulación que me ocasionó un perjuicio económico
                </label>   <label class="radio" for="input_1-3">
                  <input name="input_1[]" id="input_1-3" value="6" required="" type="radio">
                  Phishing: alguien a través de un 
                  engaño me ha solicitado información confidencial -Nº de tarjetas de 
                  crédito, contraseñas, PIN, etc.
                </label>   <label class="radio" for="input_1-4">
                  <input name="input_1[]" id="input_1-4" value="7" required="" type="radio">
                  Suplantación de identidad digital: 
                  alguien se hace pasar por mi a través de un medio electrónico (mails, 
                  redes sociales, etc.). Se lo conoce como "Robo de identidad"
                </label>   <label class="radio" for="input_1-5">
                  <input name="input_1[]" id="input_1-5" value="8" required="" type="radio">
                  Denegación de Servicio: alguien ha 
                  realizado un ataque que me ha dejado sin poder acceder o prestar mi 
                  servicio informático o electrónico de forma normal
                </label>   <label class="radio" for="input_1-6">
                  <input name="input_1[]" id="input_1-6" value="9" required="" type="radio">
                  Grooming: un menor ha sido acosado 
                  y/o extorsionado con fines sexuales a través de algún medio informático
                </label>   <label class="radio" for="input_1-7">
                  <input name="input_1[]" id="input_1-7" value="56" required="" type="radio">
                  Calumnias o Injurias: alguien lo 
                  está calumniando o injuriando a través de medios electrónicos -redes 
                  sociales, correos electrónicos, celulares, etc.
                </label>   <label class="radio" for="input_1-8">
                  <input name="input_1[]" id="input_1-8" value="57" required="" type="radio">
                  Amenazas: alguien lo está amenazando
                  o intimando a través de medios electrónicos -redes sociales, correos 
                  electrónicos, celulares, etc.
                </label>   <label class="radio" for="input_1-9">
                  <input name="input_1[]" id="input_1-9" value="58" required="" type="radio">
                  Pornografía Infantil: alguien está 
                  difundiendo, comercializando o facilitando pornografía infantil a través
                  de medios electrónicos
                </label>   <label class="radio" for="input_1-10">
                  <input name="input_1[]" id="input_1-10" value="59" required="" type="radio">
                  Violación de Datos Personales: 
                  alguien está ofreciendo, comercializando, interceptando o modificando 
                  datos personales sin autorización
                </label>   <label class="radio" for="input_1-11">
                  <input name="input_1[]" id="input_1-11" value="60" required="" type="radio">
                  Difusión de Malware: alguien está 
                  produciendo, distribuyendo, vendiendo o propagando malware o software 
                  malicioso
                </label>   </div>
            </fieldset><fieldset>
              <legend>4- ¿Cuándo ha ocurrido el incidente?</legend>
              <p>Aunque haya sucedido hace tiempo, repórtelo igual, a fin de poder colaborar con las estadísticas de los incidentes ocurridos.</p><span class="obliga">* Esta pregunta es obligatoria. Formato DD-MM-AAAA. Por ejemplo 20-08-2014</span><br>    <div class="form-group">   <div class="col-sm-4">
                  <input class="form-control hasDatepicker" name="input_5" id="input_5" placeholder="" value="04-04-2017" maxlength="10" required="" type="date">
                </div>   </div>
            </fieldset><fieldset>
              <legend>5- ¿Ha denunciado el delito ante los organismos competentes en su país?</legend>
              <p>Ej: Denuncia policial, denuncia ante la fiscalía de turno, etc.</p><span class="obliga">* Esta pregunta es obligatoria. </span><br>    <div class="form-group">   <label class="radio" for="input_2-0">
                  <input name="input_2[]" id="input_2-0" value="11" required="" type="radio">
                  Si, ya denuncie y la investigación está en curso
                </label>   <label class="radio" for="input_2-1">
                  <input name="input_2[]" id="input_2-1" value="12" required="" type="radio">
                  Si, denuncie pero la investigación no avanzó
                </label>   <label class="radio" for="input_2-2">
                  <input name="input_2[]" id="input_2-2" value="13" required="" type="radio">
                  Sí, denuncié y ya se ha condenado al o los culpables.
                </label>   <label class="radio" for="input_2-3">
                  <input name="input_2[]" id="input_2-3" value="14" required="" type="radio">
                  <b>No, no denuncié porque... (ver siguiente pregunta)</b>
                </label>   </div>
            </fieldset><fieldset>
              <legend>6- En el caso que NO haya realizado la denuncia, ¿Se debe a alguna de las siguientes causas?</legend>
              <p>Puede elegir una o más causas.</p><span class="obliga">* Esta pregunta es obligatoria. </span><br>    <div class="form-group">   <label class="checkbox" for="input_3-0">
                  <input name="input_3[]" id="input_3-0" value="63" type="checkbox">
                  <b>Ya denuncié</b>
                </label>   <label class="checkbox" for="input_3-1">
                  <input name="input_3[]" id="input_3-1" value="15" type="checkbox">
                  No creo en la Policía ni en la Justicia Penal
                </label>   <label class="checkbox" for="input_3-2">
                  <input name="input_3[]" id="input_3-2" value="16" type="checkbox">
                  No me considero víctima de un delito
                </label>   <label class="checkbox" for="input_3-3">
                  <input name="input_3[]" id="input_3-3" value="17" type="checkbox">
                  No quiero difundir públicamente el incidente (pérdida de confidencialidad)
                </label>   <label class="checkbox" for="input_3-4">
                  <input name="input_3[]" id="input_3-4" value="18" type="checkbox">
                  Tengo temor de futuras represalias de parte del autor
                </label>   <label class="checkbox" for="input_3-5">
                  <input name="input_3[]" id="input_3-5" value="19" type="checkbox">
                  No creo que la investigación tenga éxito
                </label>   <label class="checkbox" for="input_3-6">
                  <input name="input_3[]" id="input_3-6" value="20" type="checkbox">
                  No estoy seguro de haber sido víctima de un delito penal
                </label>   <label class="checkbox" for="input_3-7">
                  <input name="input_3[]" id="input_3-7" value="21" type="checkbox">
                  En parte me siento culpable por el incidente
                </label>   <label class="checkbox" for="input_3-8">
                  <input name="input_3[]" id="input_3-8" value="22" type="checkbox">
                  No creo que la denuncia sea útil, 
                  porque el sistema penal no es apto para combatir el cibercrimen
                </label>   <div class="input-group col-sm-5">
                  <span class="input-group-addon">
                    <input name="input_3[]" id="input_3-9" value="10" type="checkbox"> 
                    Otros
                  </span>
                  <input class="form-control" name="obs_3_10" type="text">
                </div>   </div>
            </fieldset><fieldset>
              <legend>7- Edad</legend>
              <p>Esta información es opcional, pero si usted 
              colabora nos ayudará a comprender cuáles son los sectores sociales más 
              atacados por los ciberdelincuentes.</p>    <div class="form-group">   <label class="radio" for="input_6-0">
                  <input name="input_6[]" id="input_6-0" value="43" type="radio">
                  Menores de 21 años
                </label>   <label class="radio" for="input_6-1">
                  <input name="input_6[]" id="input_6-1" value="44" type="radio">
                  Entre 22 y 35 años
                </label>   <label class="radio" for="input_6-2">
                  <input name="input_6[]" id="input_6-2" value="45" type="radio">
                  Entre 36 y 45 años
                </label>   <label class="radio" for="input_6-3">
                  <input name="input_6[]" id="input_6-3" value="46" type="radio">
                  Más de 45 años
                </label>   </div>
            </fieldset><fieldset>
              <legend>8- Género</legend>
              <p>Esta información es opcional, pero si usted 
              colabora nos ayudará a comprender cuáles son los sectores sociales más 
              atacados por los ciberdelincuentes.</p>    <div class="form-group">   <label class="radio" for="input_7-0">
                  <input name="input_7[]" id="input_7-0" value="47" type="radio">
                  Masculino
                </label>   <label class="radio" for="input_7-1">
                  <input name="input_7[]" id="input_7-1" value="48" type="radio">
                  Femenino
                </label>   </div>
            </fieldset><fieldset>
              <legend>9- Nivel de Instrucción</legend>
              <p>Esta información es opcional, pero si usted 
              colabora nos ayudará a comprender cuáles son los sectores sociales más 
              atacados por los ciberdelincuentes.</p>    <div class="form-group">   <label class="radio" for="input_8-0">
                  <input name="input_8[]" id="input_8-0" value="49" type="radio">
                  Sin instrucción
                </label>   <label class="radio" for="input_8-1">
                  <input name="input_8[]" id="input_8-1" value="50" type="radio">
                  Primaria completo
                </label>   <label class="radio" for="input_8-2">
                  <input name="input_8[]" id="input_8-2" value="51" type="radio">
                  Secundaria completo
                </label>   <label class="radio" for="input_8-3">
                  <input name="input_8[]" id="input_8-3" value="52" type="radio">
                  Universitaria o Terciaria completo
                </label>   </div>
            </fieldset><fieldset>
              <legend>10- Correo electrónico</legend>
              <p>En el caso que usted quiera (es opcional), 
              puede recibir una respuesta al presente formulario donde se le indicará 
              si el incidente que usted ha reportado, configura un delito penal en su 
              país de residencia. En el caso que lo sea y que usted aún no haya 
              denunciado formalmente ante las autoridades de su país, se le brindará 
              información de contacto para que usted pueda proceder a realizarla. En 
              el caso que decida utilizar esta opción, se le informa que sus datos 
              personales serán tratados de acuerdo a los principios de acuerdo a la 
              Ley 25.326 de Protección de Datos Personales de Argentina. Ante 
              cualquier duda, puede ponerse en contacto.</p>    <div class="form-group">   <div class="col-sm-4">
                  <input class="form-control" name="input_9" id="input_9" placeholder="" type="email">
                </div>   </div>
            </fieldset>   <fieldset>
              <span class="chico">ODILA no pretende ser un asesoramiento para el 
                usuario. El usuario debe siempre consultar ante un profesional 
                especializado en la materia. El sistema no garantiza la exactitud de los
                resultados en relación a sobre si el hecho efectivamente puede ser 
                considerado un delito penal en el país indicado. ODILA  pretende ser una
                guía para orientar al usuario (víctima), brindar información sobre la 
                materia y fomentar la realización de denuncias. Los datos recolectados 
                de forma anónima serán publicados en informes anuales.</span>
              <div class="form-group">
                <label class="checkbox" for="termserv">
                  <input id="termserv" name="termserv" value="acepto" required="" type="checkbox">
                  Acepto y entiendo que el presente 
                  formulario no supone una denuncia formal ante las autoridades 
                  pertinentes.
                </label>
              </div>    <div class="form-group">   <input name="Enviar" value="Enviar" id="botonenviar" class="btn btn-warning" type="button">   </div></fieldset></form>           </div>
      </div>
    </div>
  </div>
</section><section id="Contacto" class="contact">
  <div class="container">
    <div class="row principal">
      <div class="col-lg-12 text-center">
        <h2>CONTÁCTESE CON NOSOTROS</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div id="waitcontact" style="display: none;">&nbsp;</div>
    <div class="row principal">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="z_form_contacto">
          <form role="form" action="" method="post" id="fContacto">
            <input name="key_contacto" value="7627bb427bcae0852500a40de598de05" type="hidden">
            <div class="row">
              <div class="form-group col-xs-12 floating-label-form-group">
                <label for="apenom">Nombre y Apellido</label>
                <input class="form-control" name="apenom" placeholder="Nombre y apellido" type="text">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12 floating-label-form-group">
                <label for="email">E-mail</label>
                <input class="form-control" name="email" placeholder="E-mail" type="email">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12 floating-label-form-group">
                <label for="texto">Mensaje</label>
                <textarea placeholder="Consulta" name="texto" class="form-control" rows="5"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-xs-12">
                <input name="Enviar" value="Enviar" id="enviarcontacto" class="btn btn-warning" type="button">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section><footer class="text-center">
  <script type="text/javascript">
$(document).ready(function(){$('.bxslider').bxSlider({
  auto: true,
  speed: 600,
  mode: 'horizontal',
  captions: false,
  pager: false,
  controls: false
});
    });
  </script><div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Sobre ODILA</h3>
          <p>ODILA (Observatorio de Delitos Informáticos de Latinoamérica) 
          es un proyecto para construir un espacio de investigación, sobre la 
          realidad en materia de delitos informáticos y cibercrimen.</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>En la web</h3>
          <ul class="list-inline">
            <li>
              <a href="http://odila.org/#Contacto" class="btn-social
              btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
            </li>
            <li>
              <a href="http://www.twitter.com/ODILatam" class="btn-social
              btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/ODILatam" class="btn-social
              btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Colaboran</h3>
          <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
            <div class="bx-viewport" style="width: 100%; overflow: hidden;
            position: relative; height: 64px;">
              <ul class="bxslider" style="width: 515%; position: relative;
              transition-duration: 0s; transform: translate3d(-1120px, 0px, 0px);">
                <li style="float: left; list-style: outside none none;
                position: relative; width: 360px;" class="bx-clone">
                  <%= image_tag 'lambdasi.png' %>
                </li>
                <li style="float: left; list-style: outside none none; position: relative; width: 360px;">
                  <%= image_tag 'asegurarte.png' %>
                </li>
                <li style="float: left; list-style: outside none none; position: relative; width: 360px;">
                  <%= image_tag 'logo-segu-info.png' %>
                </li>
                <li style="float: left; list-style: outside none none; position: relative; width: 360px;">
                  <%= image_tag 'lambdasi.png' %>
                </li>
                <li style="float: left; list-style: outside none none;
                position: relative; width: 360px;" class="bx-clone">
                  <%= image_tag 'asegurarte.png' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          ODILA - Copyright © 2014 | <a
             href="http://www.asegurarte.com.ar/">AsegurarTE</a> - <a
             href="http://www.segu-info.com.ar/">Segu-Info</a> | <a
             href="http://odila.org/tos">Términos y Condiciones</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="scroll-top page-scroll">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-home fa-fw"></i>
  </a>
</div>
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content
  ui-helper-clearfix ui-corner-all">
</div>
