<div class="container">
  <h3>Denuncia registrada con exito.</h3>
  <p>Estimado usuario,</p>
  <p>
  Hemos recepcionado correctamente el incidente que ha reportado y a continuación le brindamos
  información para su tratamiento.
  </p>

  <hr />
  <h5>Legislación aplicable a Delitos Informáticos</h5>
  <p>
  De acuerdo a su reporte, Usted ha sido víctima de un caso de <b><%= @denuncia.delito.nombre %></b>
  en <b><%= @denuncia.pais.nombre %></b>.
  </p>
  <% if @denuncia.legislacion %>
    <p>
    De acuerdo a esta información, el hecho que usted reporta, podría ser un delito tipificado por
    <b><%= @denuncia.legislacion.numero_ley %></b> cuyo texto es el siguiente:
    </p>
    <p><%= raw @denuncia.legislacion.texto %></p>
  <% else %>
    <p>
    Lamentablemente no contamos con informacion en nuestra base de datos para
    dicho delito en el pais denunciado, pero aun asi puede comunicarse con los siguientes
    centros para obtener mayor asesoramiento.
    </p>
  <% end %>

  <hr />
  <h5>Centros de consulta y denuncia:</h5>
  <% @denuncia.centros.each do |centro| %>
    <%= render centro %>
  <% end %>

  <hr />
  <h5>Recomendaciones generales</h5>
  <ul>
    <li>No modifique, altere o elimine ningún tipo de información que pueda llegar a ser útil para la investigación del hecho. En materia informática es de vital importancia resguardar las evidencias digitales, que son la fuente de prueba necesaria para poder avanzar sobre la investigación del caso.</li>
    <li>Realice inmediatamente la denuncia ante la dependencia policial más cercana a su domicilio (Comisaría de su barrio en cualquier lugar del país) o bien ante la fiscalía más cercana. Recuerden que tienen la obligación de tomar su denuncia.</li>
    <li>No reenvíe los mensajes (correos electrónicos) constitutivos del delito, ni intente realizar investigaciones de forma privada.</li>
    <li>En el caso que sea un caso de acoso u agresiones, evite responder o continuar con la cadena del problema.</li>
  </ul>
</div>
