<div class="row">
  <div class="col-lg-12">
    <div id="zonaForm">
      <%= simple_form_for @denuncia do |f| %>
        <!-- Preguntas estaticas: pais y delito -->
        <fieldset class="pregunta" data-numero='1'>
          <legend>¿Cuál es su país de residencia?</legend>
          <p>
            Esta información es útil para poder determinar si el incidente es considerado un delito
            informático en el país donde usted se encuentra. Sólo para Latinoamérica
          </p>
          <div class="row">
            <div class="col-lg-4">
              <%= f.association :pais, label: false, input_html: { class: 'form-control opcion' } %>
            </div>
          </div>
          <%= boton_siguiente(2) %>
        </fieldset>
        <fieldset class="pregunta" data-numero='2'>
          <legend>¿Qué tipo de incidente ha sufrido?</legend>
          <p>De acuerdo a su lugar de residencia, dicho
            incidente podrá ser considerado como un delito informático de acuerdo a
            su legislación vigente. Si usted lo desea, una vez finalizado el
            reporte, se le enviará un mail informando sobre la legislación existente
            en su país de residencia.
          </p>
          <%= f.association :delito, as: :radio_buttons, label_method: :nombre, label: false,
                input_html: { class: 'opcion' } %>
          <%= boton_siguiente(3) %>
        </fieldset>

        <!-- Preguntas dinamicas (creadas por panel de admin) -->
        <% numero_pregunta = 2 %>
        <% Pregunta.all.each do |pregunta| %>
          <% numero_pregunta += 1 %>
          <%= render partial: 'denuncias/pregunta',
            locals: { pregunta: pregunta, form: f, numero: numero_pregunta } %>
        <% end %>
        <fieldset class="pregunta" data-numero='<%= numero_pregunta + 1 %>'>
          <span class="chico">ODILA no pretende ser un asesoramiento para el
          usuario. El usuario debe siempre consultar ante un profesional
          especializado en la materia. El sistema no garantiza la exactitud de los
          resultados en relación a sobre si el hecho efectivamente puede ser
          considerado un delito penal en el país indicado. ODILA  pretende ser una
          guía para orientar al usuario (víctima), brindar información sobre la
          materia y fomentar la realización de denuncias. Los datos recolectados
          de forma anónima serán publicados en informes anuales.</span>
          <div class="form-group">
            <label class="checkbox" for="termserv">
            <input id="termserv" name="termserv" value="acepto" class='opcion' required="" type="checkbox">
            Acepto y entiendo que el presente
            formulario no supone una denuncia formal ante las autoridades
            pertinentes.
            </label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-warning" disabled>Enviar</button>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>


