<div class="row">
  <div class="col-lg-12">
    <div id="zonaForm">
      <%= simple_form_for @denuncia do |f| %>
        <fieldset>
          <legend>¿Cuál es su país de residencia?</legend>
          <p>
            Esta información es útil para poder determinar si el incidente es considerado un delito
            informático en el país donde usted se encuentra. Sólo para Latinoamérica
          </p>
          <span class="obliga">* Esta pregunta es obligatoria. </span><br>
          <div class="col-lg-4">
            <%= f.association :pais, label: false, input_html: { class: 'selectpicker show-tick form-control' } %>
          </div>
        </fieldset>
        <fieldset>
          <legend>¿Qué tipo de incidente ha sufrido?</legend>
          <p>De acuerdo a su lugar de residencia, dicho
            incidente podrá ser considerado como un delito informático de acuerdo a
            su legislación vigente. Si usted lo desea, una vez finalizado el
            reporte, se le enviará un mail informando sobre la legislación existente
            en su país de residencia.
          </p>
          <span class="obliga">* Esta pregunta es obligatoria. </span><br>
          <%= f.association :delito, as: :radio_buttons, label_method: :nombre, label: false %>
        </fieldset>
        <% Pregunta.all.each do |pregunta| %>
          <%= render partial: 'denuncias/pregunta', locals: { pregunta: pregunta, form: f } %>
        <% end %>
        <fieldset>
          <span class="chico">ODILA no pretende ser un asesoramiento para el
          usuario. El usuario debe siempre consultar ante un profesional
          especializado en la materia. El sistema no garantiza la exactitud de los
          resultados en relación a sobre si el hecho efectivamente puede ser
          considerado un delito penal en el país indicado. ODILA  pretende ser una
          guía para orientar al usuario (víctima), brindar información sobre la
          materia y fomentar la realización de denuncias. Los datos recolectados
          de forma anónima serán publicados en informes anuales.</span>
          <div class="form-group">
            <label class="checkbox" for="termserv">
            <input id="termserv" name="termserv" value="acepto" required="" type="checkbox">
            Acepto y entiendo que el presente
            formulario no supone una denuncia formal ante las autoridades
            pertinentes.
            </label>
          </div>
          <div class="form-group">
            <%= f.button :submit, 'Enviar', class: 'btn btn-warning' %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>


