<% # locals: form, pregunta, numero %>

<fieldset class="pregunta" data-numero='<%= numero %>'>
  <legend><%= pregunta.texto %></legend>
  <p><%= pregunta.descripcion %></p>
  <div class="opciones">
    <%= form.simple_fields_for :item_denuncias do |f| %>
      <%= f.input :pregunta_id,
        as: :hidden,
        input_html: { value: pregunta.id, class: 'opcion' } %>
      <% if pregunta.opcion_simple? %>
        <%= f.input :opcion_id,
          collection: pregunta.opciones,
          as: :radio_buttons,
          label: false,
          required: pregunta.obligatoria?,
          input_html: { class: 'opcion' } %>
      <% elsif pregunta.opcion_multiple? %>
        <%= f.input :opciones_multiples,
          collection: pregunta.opciones,
          as: :check_boxes,
          label: false,
          include_hidden: false,
          input_html: { class: 'opcion' } %>
      <% elsif pregunta.texto? %>
        <div class="row">
          <div class="col-lg-4">
            <%= f.input :observacion,
              label: false,
              required: pregunta.obligatoria?,
              input_html: { type: 'email', class: 'form-control opcion' } %>
          </div>
        </div>
      <% elsif pregunta.fecha? %>
        <%= f.input :fecha,
          label: false,
          required: pregunta.obligatoria?,
          input_html: { class: 'opcion' } %>
      <% end %>
    <% end %>
  </div>
  <%= boton_siguiente (numero+1) %>
  <% unless pregunta.obligatoria? %>
    <%= boton_saltear(numero+1) %>
  <% end %>
</fieldset>
