<section id="denuncia_show" class="alert-success">
  <div class="container">
    <h3>Denuncia registrada con exito.</h3>
    <p>Estimado usuario,</p>
    <p>
      Hemos recepcionado correctamente el incidente que ha reportado y a continuación le brindamos
      información para su tratamiento.
    </p>

    <h5>Legislación aplicable a Delitos Informáticos</h5>
    <p>
      De acuerdo a su reporte, Usted ha sido víctima de un caso de <b><%= @denuncia.delito.nombre %></b>
      en <b><%= @denuncia.pais.nombre %></b>.
    </p>
    <% if @legislacion %>
      <p>
        De acuerdo a esta información, el hecho que usted reporta, podría ser un delito tipificado por
        <b><%= @legislacion.numero_ley %></b> cuyo texto es el siguiente:
      </p>
      <p><%= raw @legislacion.texto %></p>
    <% else %>
      <p>
        Lamentablemente no contamos con informacion en nuestra base de datos para
        dicho delito en el pais denunciado, pero aun asi puede comunicarse con los siguientes
        centros para obtener mayor asesoramiento.
      </p>
    <% end %>
    <h5>Centros de consulta y denuncia:</h5>
    <% @centros.each do |centro| %>
      <%= render centro %>
    <% end %>
  </div>
</section>
